<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Movies </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Movie realm</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Welcome to movie club. Enter the realm to view all the movies you want.
    </ion-card-content><div class="center-button-container">
      <ion-button (click)="enterToSearch()">Enter Realm</ion-button>
    </div>
  </ion-card>
</ion-content>
